.container {
    width: 70%;
    margin: auto;
    text-align: center;    
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #242121;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #c6cc4e;
  }
  
  p {
    font-size: 2rem;
    color: #c6cc4e;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }

  button{
    margin-left: 46%;
    margin-top: 40px;
    color: #e1e6eb;
    width: 150px;
    background-color:  #aacc4e;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
   
}
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  